.nav-btn{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 6px 10px;
  /* background-color: var(--primary-color); */
  color: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: solid 1px white;
  height: 100%;
  /* border: solid 1px hsl(256, 55%, 80%); */
}

.nav-btn:hover{
  /* background-color: var(--primary-color-dark); */
  border: solid 1px var(--primary-color-light);
  background-color: hsl(0, 0%, 95%);
}

.btn-container {
  display: flex;
  gap: calc(var(--spacing) * 2);
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-50);
  padding: calc(var(--spacing) * 0.5);
  border: 1px solid var(--primary-color-light);
  border-radius: calc(infinity * 1px);
  font-weight: 600;
  box-shadow: var(--small-shadow-light);
}

.btn{
  padding: 8px 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0px 2px 3px 0px hsl(0, 0%, 80%);
  box-shadow: 0px 2px 3px 0px hsl(0, 0%, 80%);
}

.btn:hover{
  background-color: var(--primary-color-dark);
}

.btn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-secondary {
  padding: 8px 10px;
  background-color: white;
  color: var(--gray-800);
  border: 1px solid var(--color-gray-400);
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  -webkit-box-shadow: var(--shadow-sm);
  box-shadow: var(--shadow-sm);
  font-weight: 600;
  color: var(--gray-800);
}

.btn-secondary:hover {
  background-color: hsl(0, 0%, 94%);
  border-color: var(--color-gray-500);
}

.remove-btn {
  padding: 8px 10px;
  background-color: hsl(0, 61%, 54%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 71%, 74%);
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  -webkit-box-shadow: var(--small-shadow-light);
  box-shadow: var(--small-shadow-light);
}

.confirm-btn {
  padding: 8px 10px;
  background-color: hsl(226, 67%, 48%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(226, 77%, 68%);
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  -webkit-box-shadow: var(--small-shadow-dark);
  box-shadow: var(--small-shadow-dark);
}

.confirm-btn:hover {
  background-color: hsl(226, 67%, 33%);
  border-color: hsl(226, 77%, 68%);
}

.remove-btn:hover {
  background-color: hsl(0, 61%, 39%);
  border-color: hsl(0, 80%, 80%);
}



.profile-btn{
  display: flex;
  align-items: flex-end;
  gap: 0.6rem;
  padding: 6px 10px;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 20%);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid var(--gray-300-light);
}

.profile-btn:hover{
  background-color: hsl(0, 0%, 85%);
}

.box-shadow{
  -webkit-box-shadow: 0px 0px 5px 2px #e0e0e0; 
  box-shadow: 0px 0px 5px 2px #e0e0e0;
}


.action-dropdown__button-group {
  display: inline-flex;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--color-gray-400);
}

.action-dropdown__button-group:hover
{
  border: 1px solid var(--color-gray-500);
}

.action-dropdown__button-group:hover > .action-dropdown__toggle{
  border-left: 1px solid var(--color-gray-500);
}


.action-dropdown__primary,
.action-dropdown__toggle {
  border: 0;
  /* background-color: var(--primary-color);
  color: white; */
  cursor: pointer;
  transition: background-color 0.3s;

  background-color: white;
  color: var(--gray-800);
  font-weight: 600;

  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.action-dropdown__primary {
  padding: 8px 10px;
}

.action-dropdown__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-left: 1px solid var(--color-gray-400);
}

.action-dropdown__primary:hover,
.action-dropdown__toggle:hover {
  /* background-color: var(--primary-color-dark); */
  background-color: hsl(0, 0%, 94%);
  border-color: hsl(0, 0%, 60%);
}

.action-dropdown__primary:disabled,
.action-dropdown__toggle:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.color-border{
  border: 1px solid var(--primary-color-light);
}

/**
 * Filter Button Styles
 */

.filter-btn {
  padding: 6px 10px;
  /* background-color: hsl(0, 0%, 95%); */
  background: white;
  /* color: hsl(0, 0%, 20%); */
  color: var(--color-gray-700);
  border-radius: calc(infinity * 1px);
  cursor: pointer;
  transition: background-color 0.3s;
  /* border: 1px solid var(--color-gray-300); */
  border: 1px solid var(--primary-color-light);
  font-weight: 600;
}

.filter-btn:hover {
  background-color: var(--color-gray-100);
}



/**
 * ResumeCard Styles
 */

 .resume-card{
  display: flex;
  height: 100%;
  flex-direction: column;
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-radius: var(--radius-lg);
  border-color: var(--color-gray-300);
  gap: calc(var(--spacing) * 2);
  max-width: var(--container-lg);

  transition: box-shadow 0.3s, transform 0.3s;
 }

 .resume-card:hover {
  box-shadow: var(--shadow-md);
  transform: scale(1.01);
  cursor: pointer;
}