.nav-btn{
  padding: 6px 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn{
  padding: 8px 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-box-shadow: 0px 2px 3px 0px hsl(0, 0%, 50%);
  box-shadow: 0px 2px 3px 0px hsl(0, 0%, 50%);
}

.btn:hover{
  background-color: var(--primary-color-dark);
}

.btn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-btn:hover{
  background-color: var(--primary-color-dark);;
}

.btn-secondary {
  padding: 8px 10px;
  background-color: white;
  color: hsl(0, 0%, 30%);
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;

  -webkit-box-shadow: 0px 1px 2px 0px hsl(0, 0%, 80%);
  box-shadow: 0px 1px 2px 0px hsl(0, 0%, 80%);
}

.btn-secondary:hover {
  background-color: hsl(0, 0%, 96%);
  border-color: hsl(0, 0%, 60%);
}

.box-shadow{
  -webkit-box-shadow: 0px 0px 5px 2px #e0e0e0; 
  box-shadow: 0px 0px 5px 2px #e0e0e0;
}